body {
  background-color: black;
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.card-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/image1.jpg);
  background-size: cover;
  background-position: center;
}

.card-img-top {
  border-radius: 30px;
  padding: 10px;
  height: 250px;
}

.card {
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
}

.card-body {
  padding: 25px;
  margin-top: -10px;
  align-items: jus;
}

.card-title {
  color: #f94ca4;
}

.card-text {
  text-align: justify;
}
